.sobMenu {
    background-color: rgb(1, 73, 255);
    height: 30px;
}
.menu{
    background-color: aqua;
    /* height: 100px; */
}
.menu-itens{
    display: flex;
    margin: 0 20px;
}
.menu-itens li{
    list-style: none;
    padding-left: 10px;
}
.menu-itens li a{
    color: #ffffff;
}